/*.image{
    /*height: 100vh;*/
    width: 100%;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #212529;
    opacity: .8;
}*/
/*.navbar a{
    color: #4d4d4d !important;
}
*/

